<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpenEMR Suite">

	<parameter name="browser" value="ch"></parameter>
	<test thread-count="5" name="Login Test ch">
	<parameter name="browser" value="ch"></parameter>
		<classes>
			<class name="com.sg.test.LoginTest" />
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="Login Test ff">
		<classes>
			<class name="com.sg.test.LoginTest" />
		</classes>
	</test> <!-- Test -->
	
</suite> <!-- Suite -->
